// Colours
$pink: #eb008b;
$light-grey: #666666;
$dark-grey: #323232;

// Grid settings
$grid-width: 1200px;
$grid-columns: 12;
$grid-gutter: 20px;
$grid-generate: true;
$grid-column-prefix: 'column-';
$grid-row-prefix: 'row';
$grid-push-prefix: 'push-';

// Responsive sizes
$phone: '(max-width: 480px)';
$tablet-portrait: '(max-width: 767px)';
$tablet-landscape: '(min-width: 768px) and (max-width: 1023px)';
$desktop: '(min-width: 1024px)';